.suggestions {
    margin-top: 30px;
    margin-right: 20px;
}

.profile-username {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.profile-avatar{
    margin-right: 15px;
}

.suggestions-title {
    color: grey;
    font-weight: bolder;
}

.username-left {
    display: inline-flex;
}

.username-info{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.relation {
    color: grey;
    font-size: 12px;
}

.suggestion-username {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.switch-button {
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
    margin-left: 80px;
}

.switch-button:hover{
    color: black;
    cursor: pointer;
}

.see-all-button {
    color: black;
    font-weight: bold;
    background: 0;
    border: 0;
    margin-left: 65px;
    font-size: 13px;
}

.see-all-button:hover{
    color: grey;
    cursor: pointer;
}

.follow-button{
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
    margin-right: 80px;
}

.follow-button:hover{
    color: black;
    cursor: pointer;
}

.username {
    font-weight: 600;
    font-size: 14px;
}