.login {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    border: 1px solid grey;
    padding: 50px 50px 0px 50px;
    margin-right: 30px;
}

.login > img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.login > input {
    background-color: #ffffff24;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 20px;
    color: black;
}

.login > input:focus {
    outline: 1px solid grey;
}

.login > button {
    padding: 12px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #0095f6;
    font-weight: bolder;
}

.login > button:hover {
    cursor: pointer;
}

.log-in-with-facebook {
    color: rgb(0, 140, 255);
    margin-top: 20px;
    margin-left: 35px;
}

.log-in-with-facebook > img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.log-in-with-facebook:hover {
    cursor: pointer;
}

.forgot-password {
    color: grey;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 70px;
}

.forgot-password:hover {
    cursor: pointer;
}